@use "../base/variables" as *;
@use "../base/mixins" as *;

.faves-page {

    h2 {
        text-transform: capitalize;
        text-align: center;
    }

    .faves-container {
        display: grid;
        justify-content: center;
        gap: 1rem;

        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.fave-btn {
    button {
        background-color: transparent;
        border: none;
        
        //for icon to appear, need to set "width" in svg and "fill" in path
        svg {
            width: 2.5rem;
    
            path {
                fill: $accent-color;
            }
        }
    }
}
