@use "../base/variables" as *;
@use "../base/mixins" as *;

.faves-page {
    padding: auto auto 1.75rem;

    @media (min-width: $tablet) {
        padding-top: 3rem;
    }
    @media (min-width: $tablet) {
        padding-top: 2rem;
    }

    .favourites-title {
        text-transform: capitalize;
        text-align: center;
    }

    .faves-grid {
        display: grid;
        justify-content: center;
        gap: 1rem;

        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.faves-container {
    // p {
    //     margin: 0 0 1rem 0.5rem;
    // }

    @media (min-width: $tablet) {

        p {
            margin: 0 0 3rem 0.5rem;
        }
    }

    .empty-faves {
        height: 70vh;
        p {
            margin: 3rem auto;
        }

        @media (min-width: $tablet) {

            p {
                margin: 0 0 3rem 0.5rem;
            }
        }
    }
}

.fave-btn {
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        
        //for icon to appear, need to set "width" in svg and "fill" in path
        svg {
            width: 2.5rem;
    
            path {
                fill: $accent-color;
            }
        }
    }
}
