@use '../base/variables' as *;
@use '../base/mixins' as *;

header {
    background-color: $main-background;
    
    @media(min-width: $tablet){
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }

    nav {

        ul {
            @include flex-row;
            padding: 0;

            li {
                margin: 0 1rem;
                text-transform: capitalize;
                padding: 0;
            }
        }
    }
}
