@use "../base/variables" as *;
@use "../base/mixins" as *;

header {
    position: relative;

    .header-bkg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid $glow-outline;
        box-shadow: 1px 1px 20px 5px $glow;

        .header-wrap {
            max-width: 1200px;
            margin: 0 auto;

            @media (min-width: $tablet) {
                @include flex-row;
                justify-content: space-between;
                align-items: center;
            }

            h1 {
                margin: 0.5rem 0;
            }

            nav {
                ul {
                    @include flex-row;
                    padding: 0;

                    li {
                        margin: 0 1rem;
                        text-transform: capitalize;
                        padding: 0;

                        &:last-child {
                            margin: 0 0 0 1rem;
                        }
                    }
                }
            }
        }
    }
}
