@use '../base/variables' as *;
@use '../base/mixins' as *;

.movies-container{
    display: grid;
    justify-content: center;
    gap: 1rem;

    @media (min-width: $tablet){
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop){
        grid-template-columns: 1fr 1fr 1fr;
    }

    
    
    article{
        max-width: 274px;
        margin: 0 auto;

        div:nth-child(1){
            position: relative;
            max-width: 274px;
            margin: 0 auto;
            
            img{
                max-width: 274px;
                // // just to make sure all the movies have the same height
                // height: 428px;
                // object-fit: cover;

            }

            .hover{
                // while you work please just comment this out just in case
                opacity: 0;
                position: absolute;
                max-width: 274px;
                height: calc(100% - .40rem);
                bottom: 0;
                top: 0;
                transition: opacity .23s ease-in;

                            
                // styles for that hovering p
                p,
                a{
                    margin: 2rem;
                }

            }

            &:hover .hover{
                opacity: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.838);
                z-index: 3;
                max-width: 274px;
                height: calc(100% - .40rem);
                bottom: 0;
                top: 0;
                
            }

            a {
                color: $accent-color;
                font-weight: $font-weight-navigation;
            }
        }

        .titles{
            max-width: 274px;

            p:nth-child(2){
                color: $accent-color
            }
        }
    }
}