@use '../base/variables' as *;
@use '../base/mixins' as *;

.movies-container{
    display: grid;
    justify-content: center;
    gap: 1rem;

    @media (min-width: $tablet){
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop){
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1440px){ // make this its own variable :)
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}