@use "../base/variables" as *;
@use "../base/mixins" as *;

.movie-card {
    max-width: 274px;
    margin: 0 auto 2rem;

    img {
        width: 275px;
        height: 428px;
        object-fit: cover;
    }

    .hover {
        display: none;
    }

    @media (min-width: $tablet) {
        padding-bottom: 0 auto;

        .img-container {
            display: block;
            position: relative;

            .hover-card {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.95);
                top: 0;
                bottom: 5px;
                left: 0;
                right: 0;
                padding: 3.5rem 2.5rem;
                z-index: 99;
                opacity: 0; //hides hover card
                transition: opacity 0.3s ease-in;

                &:hover {
                    display: block;
                    opacity: 1; //shows hover card
                    transition: opacity 0.3s ease-in;
                }

                .more-info {
                    position: absolute;
                    bottom: 4rem;

                    a {
                        color: $accent-color;
                        font-weight: $font-weight-navigation;
                        font-size: 1.25rem;
                        border: 0.25rem solid $accent-color;
                        padding: 1rem 3rem;

                        &:hover {
                            color: black;
                            background-color: $accent-color;
                            transition: background-color 0.3s ease-in;
                        }
                    }
                }
            }
        }
    }

    .titles {
        max-width: 274px;

        h2 {
            margin-bottom: 0.75rem;
        }
        p {
            margin: 0;
        }

        // flex container for rating and FaveBtn to align
        article {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 0.75rem;

            p {
                color: $accent-color;
                font-size: 2rem; 
            }
        }
    }
}
