@use '../base/variables' as *;
@use '../base/mixins' as *;

.single-movie-style {

    @media (min-width: $tablet) {
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        padding-bottom: 25rem;
        gap: 7rem;
        
    }

    .single-movie-text   {
        padding: 5rem 0 0;

        article {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 0.5rem 0;
                
                &:nth-child(1) {
                    color: $accent-color;
                    font-size: 1.75rem;
                }
            }
        }
        .bottom-flex {
            align-items: flex-end;
        }

        @media (min-width: $tablet) {
     
            margin: -2rem 0;
        }

        h2 {
            color: $accent-color;
            font-size: 1.25rem;
        }
    
    }
}
