@use '../base/variables' as *;
@use '../base/mixins' as *;

.page-movie-single {

    @media (min-width: $tablet) {
        height: 80vh;
        padding-bottom: 12rem;
    }
}
.single-movie-style {
    margin: 2rem auto;

    @media (min-width: $tablet) {
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 10rem 3rem 15rem;
        gap: 2.5rem;
        
    }
    @media (min-width: $desktop) {
        margin: 3rem 3rem 6rem;
        gap: 7rem;
    }

    .single-movie-text   {

        @media (min-width: $tablet) {
            padding: 1rem 0 0;
            margin: -2rem 0;
        }
        @media (min-width: $desktop) {
            padding: 5rem 0 0;
        }

        h1 {
            margin-bottom: 0.25rem
        }

        h2 {
            color: $accent-color;
            font-size: 1.25rem;
        }

        article {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 0.5rem 0.5rem 0 0;
                
                &:nth-child(1) {
                    color: $accent-color;
                    font-size: 1.75rem;
                }
            }
        }
        .bottom-flex {
            align-items: flex-end;
        }
    }
}
