@use '../base/variables' as *;
@use '../base/mixins' as *;

.single-movie-style {

    padding: 1rem 1rem;
    margin:  1rem 0;

    @media (min-width: $tablet) {
        
       display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr;
       padding: 1rem 1rem;
       grid-gap: 5rem;
    }

    @media (min-width: $desktop) {
        padding: 5rem 5rem;
    }

    .single-movie-text   {

        @media (min-width: $tablet) {
     
            margin: -2rem 0;

        }
    
    }
}
