@use '../base/variables' as *;
@use '../base/mixins' as *;

.pageHome ul  {
        display: none;
        
        @media(min-width: $large-tablet){
            display: block;
            padding:0px;
            text-align: center;
            border: 1px solid #Db9cff;
            box-shadow: 1px 1px 20px 5px #54396d;
            padding:5px;
            font-size: 20px;
            margin: 10px;
            margin-top: 6rem;
            margin-bottom: 30px;

            @media(min-width:$desktop){
                margin-top: -2rem;
            }

            a {
                &:hover,
                &:focus,
                &:active {
                    color: $accent-color;
                }
            }

            @media (min-width: $tablet) {
                @include flex-row;
                justify-content:space-around;
                align-items: center;
                padding:10px;
                margin-bottom: 40px;
                border-bottom: 1px solid #Db9cff;
            }

            
        }
    }


