@use '../base/variables' as *;

// typography

body {
    margin: 0;
    background-image: $gradient;
    background-repeat: no-repeat;
    height: 100vh;
    
    color: $text-color;

    a{
        color: $text-color;
    }
}


// main sections

main {
    width: 600px;
    margin: 0 auto;
}