@use '../base/variables' as *;

// typography

body {
    margin: 0;
    background-image: $gradient;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: $font-body;
    color: $text-color;

    a {
        color: $text-color;
        text-decoration: none;
    }
}

h1 {
    font-family: $font-heading;
    font-size: $large-texts;
}

ul{
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    margin: 8rem auto 0;
}